# .dockerignore
node_modules
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
README.md
.DS_Store
coverage
.coverage
.nyc_output
.vscode
.idea
*.log
logs
dist
build
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.eslintcache
*.swp
*.swo
*~
.project
.settings
.tmproj
*.esproj
nbproject
Thumbs.db
.docker
docker-compose*.yml
Dockerfile*